<%= form_for(@notifier) do |f| %>
  <% if @notifier.errors.any? %>
    <div class="error_explanation">
      <h2>Couldn't create notifier - <%= pluralize(@notifier.errors.count, "field") %> need fixing:</h2>

      <ul>
      <% @notifier.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "What's your Twilio Account ID?" %><br />
    <%= f.text_field :twilio_id, :placeholder => "Twilio Account ID", :class => 'field'  %>
  </div>
  <div class="field">
    <%= f.label :name, "What light do you want to flash?" %><br />
    <%= f.text_field :device_id, :placeholder => "Switch Device ID", :class => 'field' %>
  </div>
  <div class="actions">
    <%= f.submit "Create", :class => 'button' %>
  </div>
<% end %>
